@using NovaBugTracker.Models.Enums
@using NovaBugTracker.Services.Interfaces

@model IEnumerable<NovaBugTracker.Models.Project>

@inject IBTFileService _fileService
@inject IBTProjectService _projectService

@{
    ViewData["Title"] = "Index";
}


    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>project list</h3>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row project-cards">
            <div class="col-md-12 project-list">
                <div class="card">
                    <div class="row">
                        <div class="col-md-12 p-0">
                            <div class="form-group mb-0 me-0"></div><a class="btn btn-primary" asp-action="Create"> <i data-feather="plus-square"> </i>Create New Project</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="tab-content" id="top-tabContent">
                            <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                                <div class="row">
                                    @foreach(Project project in Model)
                                    {
                                        <div class="col-xxl-4 col-lg-6">
                                            <div class="project-box">
                                                <h6>@project.Name</h6>
                                                <p>@project.Description</p>
                                                <div class="row details">
                                                    <div class="col-6"> <span>Start Date</span></div>
                                                    <div class="col-6 font-primary">@project.Created</div>
                                                    <div class="col-6"> <span>End Date</span></div>
                                                    <div class="col-6 font-primary">@project.EndDate</div>
                                                    <div class="col-6"> <span>Members</span></div>
                                                    <div class="col-6 font-primary">@project.Members.Count</div>
                                                </div>
                                                <div class="customers">
                                                </div>
                                            @{
                                                var start = project.StartDate;
                                                var end = project.EndDate;
                                                var today = DateTime.Now;
                                                var percent = today >= end ? 100 : today < start ? 0 : Math.Round((today.Subtract(start)) / (end.Subtract(start)) * 100);
                                            }
                                                <div class="project-status mt-4">
                                                    <div class="media mb-0">
                                                        <p>@percent % </p>
                                                    <div class="media-body text-end"><span>Done</span></div>
                                                    </div>
                                                    <div class="progress" style="height: 5px">
                                                        <div class="progress-bar-animated bg-primary progress-bar-striped" role="progressbar" style="width: @percent%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                                    </div>
                                                </div>
                                                <br/>
                                            <a asp-action="Edit" asp-route-id="@project.Id" class="btn btn-outline-primary btn-sm"><i data-feather="edit"></i></a>
                                            <a asp-action="Details" asp-route-id="@project.Id" class="btn btn-outline-secondary btn-sm"><i data-feather="list"></i></a>
                                                @if (User.IsInRole(nameof(BTRoles.Admin)))
                                                {
                                                    <a asp-action="AssignProjectManager" asp-route-id="@project.Id" class="btn btn-outline-warning btn-sm"><i data-feather="plus-square"></i></a>
                                                }
                                                @if(User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                                {
                                                    <a asp-action="Archive" asp-route-id="@project.Id" class="btn btn-outline-danger btn-sm"><i data-feather="trash-2"></i></a>
                                                }
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->



@*<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPriority)
            </th>
            <th>
                    Project Manager
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>

                    <img class="img-fluid" src="@_fileService.ConvertByteArrayToFile(item.ImageFileData!, item.ImageFileType!, (int)DefaultImage.Project)" style="width:150px;height:85px" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company!.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectPriority!.Name)
                </td>
                <td>
                    @((await _projectService.GetProjectManagerAsync(item.Id)!)?.FullName)
                </td>

                
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary btn-sm">Edit</a> 
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info btn-sm">Details</a> 
                    @if (User.IsInRole(nameof(BTRoles.Admin)))
                    {
                        <a asp-action="AssignProjectManager" asp-route-id="@item.Id" class="btn btn-outline-dark btn-sm">Assign PM</a>
                    }
                    <a asp-action="Archive" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm">Archive</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
